label {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 1rem;
}

input {
  border: 0;
  padding: 0;
  display: block;
  width: 100%;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--blue);
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--light-blue);
}

input:focus::placeholder, input:active::placeholder {
  color: var(--blue);
}

input[name="name"] {
  font-family: 'Poppins';
  font-size: 3rem;
}

input[name="course"] {
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  font-size: 2rem;
}
